.wrapper {
  display: grid;
  grid-template-columns: auto 230px minmax(320px, 1200px) auto;
  min-height: 100vh;
  grid-template-rows: auto 1fr auto;
  grid-template-areas:
    ". header header ."
    ". sidebar body ."
    "footer footer footer footer";
}

.header {
  background: green;
  grid-area: header;
  display: none;
}

.body {
  background: coral;
  grid-area: body;
}
.sidebar {
  background: red;
  grid-area: sidebar;
}
.footer {
  background: yellow;
  grid-area: footer;
}

@media (max-width: 765px) {
  .wrapper {
    grid-template-columns: minmax(320px, 1fr);
    grid-template-areas:
      "header"
      "body"
      "footer";
  }
  .sidebar {
    display: none;
  }

  .header {
    display: block;
  }
}
