* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: var(--font-family);
}

a {
  text-decoration: none;
  color: inherit;
}

:root {
  --black: #3b434e;
  --grey-light: #ebebeb;
  --white: white;
  --primary: #7653fc;
  --primary-hover: #6344df;
  --red: #fc836d;
  --green: #1dc37e;
  --green-light: #c8f8e4;
  --font-family: "Open Sans", "sans-serif";
}
